
input.box {
  color:black;
}

input.sim {
  color:black;
}

.flash ul{
    list-style: none;
}

.flash li{
    display: inline;
}

#flashDiv {
    position: absolute;
    
    bottom: 0;
    left: 0;
}

