
input.box {
  color:black;
  width: 60pt;
}

input.sim {
  color:black;
}

label.box{
    text-align: left
    float:left ;
}

.flash ul{
    list-style: none;
}

.flash li{
    display: inline;
}

#flashDiv {
    position: absolute;
    
    bottom: 0;
    left: 0;
}

