<!doctype html>
<html lang="en">
<head>
    <title> Diffusion Drift {% block subtitle %} {% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/cover.css') }}">
    {% block includes %} {% endblock %}
</head>

<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
        <div>
          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                    <li> <a href={{url_for('home')}}> Home </a>  </li>
                    <li> <a href={{url_for('lesson1')}}> Lesson 1 </a>  </li>
                    <li> <a href={{url_for('lesson2')}}> Lesson 2 </a>  </li>
                    <li> <a href={{url_for('lesson3')}}> Lesson 3 </a>  </li>
                    <li> <a href={{url_for('lesson4')}}> Lesson 4 </a>  </li>
                    <li> <a href={{url_for('lesson5')}}> Lesson 5 </a>  </li>
                </ul>
              </nav>
            </div>
          </div>
          </div>
    <div id="pageContent">
        <p> </p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div id="flashDiv"> <ul class=flash>
              {% for message in messages %}
                  <li class="flash">{{ message }}</li>
              {% endfor %}
              </ul> </div>
          {% endif %}
        {% endwith %}
            <!-- hack for now -->
        <br>
        <br>
        <br>
        {% block body %} {% endblock %}
    </div>

    <div id="slider"></div>
          <div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/myscript.js"></script>
    
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/d3.slider.js"></script>
    <script src="/static/js/scatter.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
  </body>
</html>
