{% extends "layout.html" %}
{% block subtitle %} Lesson 2 {% endblock %}
{% block body %}
<h1> Drift-diffusion process describe changing probability distributions </h1>
<hr>
<p>
Let's take another look at the simulation. Here, the particles are moving independently under a drift-diffusion process. The <em>x</em> and <em>y</em> components of the drift velocity are given by <em>vx</em> and <em>vy</em>. The strength of diffusion is given by a diffusion coefficient, <em>D</em>. Finally, <em>N</em> is the number of particles, and <em>t</em> is the number of timesteps.
</p>
{% include "working.html" %} 
<p>
Play with the parameters to explore various regions of behavior. What happens at low drift and high diffusion? What about high drift velocity and low diffusion? 
</p>
<hr>
<p>
In this simulation, we also plot <a href="https://en.wikipedia.org/wiki/Histogram"><em>histograms</em></a> of the particles' locations on the x and the y axes. Note that the height of the histograms correspond to the densities of points at these regions in space. This is also possible in two dimensions. What would a two-dimensional histogram of the data look like? 
</p>

<p>
So, the histograms are telling us how much of the population of particles is at each point in space. This is more than just a convenient way to represent the data. We are switching from thinking in terms of the path taken by individual particles to thinking in terms of the way the whole population of particles is evolving over time (?ref). Consider again the values of the drift and diffusion coefficients. Running a simulation, you can see that, at higher diffusion coefficients, the histograms tends to spread out faster. Higher drift velocities, on the other hand mean that the mid point of the histogram will move in the direction of this velocity faster.
</p>
<hr>
<p>
If you divide the heights of the histogram bars by the total number of individuals in the population, the whole histogram will integrate (sum) to one, and so can be interpreted as a probability. This very nice. Now we are not limited to describing the concentration of particles, but can instead describe the probability of a system being in a particular state at a particular point in time. As we will see later, this is very useful for describing how the makeup of populations change over time.
</p>
<br>
<br>

{%endblock %}