{% extends "layout.html" %}
{% block subtitle %} Lesson 4 {% endblock %}
{% block body %}

<h1> What does this have to do with biology and evolution? </h1>
<hr>

<p>
In evolutionary biology, in particular, in <a href="https://en.wikipedia.org/wiki/Population_genetics"><em>population genetics</em></a>, we want to understand how genes move around in a population: how genes are able to spread to take over the whole population, and how they are driven to extinction.
</p>
<p>



</p>



{%endblock %}