{% extends "layout.html" %}
{% block subtitle %} Lesson 5 {% endblock %}

{% block includes %} 

<script>

$(document).ready(function(){
    $("#mutbutton").click(function(){
        $("#mutDiv").toggle();
    });
    $("#selbutton").click(function(){
        $("#selDiv").toggle();
    });
    $("#GDbutton").click(function(){
        $("#GDDiv").toggle();
    });
});


</script>

{% endblock %}

{% block body %}



<a href="http://highered.mheducation.com/sites/dl/free/0072835125/126997/25-07.swf"  target="_blank">Animation</a>


http://rosetta.ahmedmoustafa.io/selection/

http://rosetta.ahmedmoustafa.io/drift/

http://malooflab.phytonetworks.org/apps/genetic-drift-markov/

http://coleoguy.github.io/evobir.html

https://evobir.shinyapps.io/wf_model/

http://www.slideshare.net/waqasiwaqas/bisl-05-evolution-and-genetics-37233634

http://highered.mheducation.com/sites/dl/free/0072835125/126997/animation45.html

<h1> Mutation, Selection, and Wright effect</h1>
<hr>
There are three major factors that influence the evolution of a population. These are: mutation, selection, and the Sewall Wright effect. In this section, we will explore the effects of each of these factors on an evolving population.
<hr>
<h3> Mutation</h3>
<button class="btn-default toggle" id="mutbutton", href="#" >
<strong> Definition: </strong>
</button>
<div id="mutDiv" style="display:none;"> <abbr class="wikihover" rel="mutation">Mutation</abbr> is the introduction of random errors into an organism's genome. Because they are random, many of the errors may not have an effect on the exact phenotype that we are interested in. The effective mutation rate can be modeled as the base rate times the probability of getting a mutation in genes that we are interested in, but, in general, mapping between <abbr class="wikihover" rel="Genotype-phenotype distinction"> genotype and phenotype</abbr> is <em> very </em> difficult to model.
</div> 


<p>   </p>



<hr>
<h3> Selection </h3>
<button class="btn-default toggle" id="selbutton", href="#" >
<strong> Definition: </strong>
</button>
<div id="selDiv" style="display:none;"> 
<abbr class="wikihover" rel="Natural_selection">Selection</abbr> is the what most people think of when they think of evolution. It is the result of competition among members of the population (for example, for a finite amount of resources), which enriches for the <abbr class="wikihover" rel="Fitness_(biology)">fittest</abbr> members of the population. Here, fitness is a function of the phenotype of the organism, that is to say, whatever feature of the organism interacts with the environment.
</div> 




<hr>
<h3> Wright effect </h3>
<button class="btn-default toggle" id="GDbutton", href="#" >
<strong> Definition: </strong>
</button>
<div id="GDDiv" style="display:none;"> 
The <abbr class="wikihover" rel="Genetic_drift">Wright effect</abbr> happens due to <em>random fluctuations</em> of which members of a population are able to reproduce. Imagine two species with the <em>same fitness</em>. If there is only enough room for a some of their children, than the relative numbers of the two species will fluctuate as lucky or unlucky individuals have many or few surviving children. 
</div> 


<br>
<br>
<br>
<br>
<br>

{%endblock %}