{% extends "layout.html" %}
{% block subtitle %} Lesson 3 {% endblock %}
{% block body %}

<h1> Ok, but how can we describe this mathematically? </h1>
<hr>

<p>
In the last section, we showed how systems that evolve over time can be described by modeling how the probability that the system is in a particular state changes over time. (This is mostly useful for systems that involve a large number of elements, like gases or populations.) In this section, we will show how this allows us to use mathematical tools developed for describing probability on these sorts of systems.
</p>

<hr>

<p> 
Firstly, our intuition for diffusion and drift can be captured in terms of features of the probability distribution. 

</p>




{%endblock %}