{% extends "layout.html" %}
{% block subtitle %} Lesson 3 {% endblock %}

{% block includes %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

$(document).ready(function(){
    $("#diffToggle").html('Variance');
});
$(document).ready(function(){
    $("#derivbutton").click(function(){
        $("#derivDiv").toggle();
    });
});

</script>
{% endblock %}

{% block body %}

<h1> Ok, but how can we describe this mathematically? </h1>
<hr>

<p>
In the last section, we showed how systems that evolve over time can be described by modeling the probability that the system is in a particular state at a given time. (This is mostly useful for systems that involve a large number of elements, like gases or populations.) In this section, we will show how this allows us to apply the mathematical tools developed for probability to describe these sorts of systems.
</p>

<hr>

<p> 
First, our intuition for diffusion and drift can be captured in terms of features of the probability distribution. Diffusion spreads the distribution out, so it should scale with the rate of change of the <a href="https://en.wikipedia.org/wiki/Variance"><em>variance</em></a> or <a href="https://en.wikipedia.org/wiki/Standard_deviation"><em>standard deviation</em></a> of the distribution. Drift moves the whole distribution, so it should correspond to changes in the average or <a href="https://en.wikipedia.org/wiki/Expected_value"><em>mean</em></a> of the distribution.
</p>

<div>
<form action="{{ url_for('get_toy') }}" method="GET">
    <fieldset class="form-group">
        <input class='sim' type=Submit name='action' value="Run">
    </fieldset>
</form>


 </div>


<hr>
<p>
In one dimension, this intuition can be written down with diffusion and drift coefficients <em>v</em> and <em>D</em> as: <br>
<img src="http://latex.codecogs.com/gif.latex?\frac{\partial p(x, t)}{\partial t}= - v \frac{\partial p(x, t)}{\partial x} + D \frac{\partial^2 p(x, t)}{\partial x^2}" border="0"/> <br>

This is a <a href="http://ocw.mit.edu/courses/mathematics/18-152-introduction-to-partial-differential-equations-fall-2011/index.htm"><em>partial differential equation</em></a> because it contains derivatives of <em>p</em> with respect to multiple variables. However, we can get an idea of what it is describing by looking at the terms individually. If you are interested in a brief derivation, highlighting interesting aspects of the mathematics, see the button below.
</p>
<p>
First, the left hand side:<br>
<img src="http://latex.codecogs.com/gif.latex?\frac{\partial p(x, t)}{\partial t}"/><br>
This term corresponds to the change in how probable it is to be at a point (<em>x</em>, <em>t</em>) over time. 
</p>

<p>
Next,<br>
<img src="http://latex.codecogs.com/gif.latex?- v \frac{\partial p(x, t)}{\partial x} " border="0"/> <br>
This describes flow forward along the <em>x</em> axis at a rate <em>v</em>. Imagine a distribution is moving along the x axis over time. At each time step, the next value of <em>p</em> is just the value of <em>p</em> a step back in <em>x</em>: <br>
<img src="http://latex.codecogs.com/gif.latex? p(t+dt, x) = p(t, x -dx) " border="0"/> <br>
Dividing by <em>dx</em> and <em>dt</em> turns these into derivatives (also, <img src="http://latex.codecogs.com/gif.latex? \frac{\partial x}{\partial t} = v" border="0"/)> .
</p>

<p>
Finally,<br>
<img src="http://latex.codecogs.com/gif.latex? D \frac{\partial^2 p(x, t)}{\partial x^2} " border="0"/> <br>
This is the second derivative with respect to <em>x</em>. It describe the <a href="https://en.wikipedia.org/wiki/Inflection_point"><em>concavity</em></a> of the function, which is the curvature. This is equivalent to how the function at a point x compares to the neighbors in its vicinity. Imagine a point on a curve that is higher than most of the points around it in a small interval. At this point, the curve must be mostly curving downwards. So, the concavity, and hence the second derivative is negative. This term forces points in the probability distribution, <em>p</em> to approach their neighbors, spreading it out over time.


</p>

<hr>

<button class="btn-default toggle" id="derivbutton", href="#" >
<strong> Derivation: </strong>
</button>
<div id="derivDiv" style="display:none;"> 
In order to derive 
</div>
<br>
<br>
<br>


{%endblock %}