<div id="insert">

<style>

#btnSave {
  padding-left: 30;
  margin-left: 30;
}

.inputsim {
      background-color: transparent;
    border: 0;
    width: 50px;
    font-size: 15pt;
}

.row {
    margin-right: 15px;
    margin-left: 30px;
  }


.row {
    margin-right: 15px;
    margin-left: 30px;
  }

.form-control-label{
  margin-right: 10px;
  font-size: 15pt;
}

</style>

<script src="//d3js.org/d3.v3.min.js"></script>

<script>

  

  $(document).ready(function () {

       d3.select('#tparticles').call(d3.slider().axis(d3.svg.axis().orient("top").ticks(4)).min(0).max(20).step(1).on("slide", function(evt5, value) {
      $('.form-group input[name="t"]').val(value)

    }));
  

        $("#btnSave").click(
            function () {
                
              var values = {};
              $.each($('.form-group').serializeArray(), function(i, field) {
                  values[field.name] = +field.value;

              });

              $.get('/get_data', values, 
                   function(data) 
                    { $( ".scatter_plot" ).remove();
                      jsondata = JSON.parse(data);
                      scatter = jsondata['scatter'];
                      hist = jsondata['hist'];
                      console.log(scatter);
                      console.log(hist);
                      drawfigure(scatter ,hist,values['t']) ;
                    }
                   );

            }            
        );
    });

</script>

<div>

  <fieldset class="form-group">

    <div class="row">
        <label class="form-control-label">t = <input class='inputsim' value = "30" type="number" step="any" name='t' placeholder="20"  ></label>
        <label class="form-control-label">N = <input class='inputsim' value = "300" type="number" step="any" name='N' placeholder="20"  > </label>
        <label class="form-control-label">vx = <input class='inputsim' value = "0" type="number" step="any" name='vx' placeholder="20"  ></label>
        <label class="form-control-label">vy = <input class='inputsim' value = "0" type="number" step="any" name='vy' placeholder="20"  ></label>
        <label class="form-control-label">D = <input class='inputsim' value = "1" type="number" step="any" name='D' placeholder="20"  ></label>
        <button id="btnSave" class="btn btn-primary btn-sm">Start Simulation</button>
    </div>  
    </fieldset>

</div>

<div id="plot"></div>
</div>

<br>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='js/d3.slider.js') }}"></script>

<style scoped>

#insert {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;}


.noticklabel text{
  display: none;
}

#histogramx text{
  color: #FFFFFF;
}

.bar {
  opacity: 0.5;
  color: #666666;
}


.bar_histy {
  opacity: 0.5;
}

.dot {
  opacity: 0.2;
  color: #666666;
}

</style>

<script>



function drawfigure(data,JSONhist,time) {

var color = d3.scale.category10(),
    formatCount = d3.format(",.0f"),
    i = 1,//  set your counter to 1
    margin = 30
    width = 650 - margin,
    height = 650 - margin,
    width_hist = width ,
    height_hist = 200,
    border = 150;




data.forEach(function(d) {
  d.y = +d.y;
  d.x = +d.x;
});

// console.log('max(hist.x): ' + (d3.max(JSONhist['x'], function(d) { return (d.x); })+JSONhist['x'][1]['dx']));
// console.log('max(hist.y): ' + d3.min(JSONhist['y'], function(d) { return (d.x); }));
// console.log('binsize: ' + JSONhist['x'][1]['dx']);
// console.log('max(data.x): '+ d3.max(data, function(d) { return (d.x); }));
// console.log('max(data.y): '+ d3.min(data, function(d) { return (d.y); }));
// define mappings

// mapping based on scatter data:

var x = d3.scale.linear()
    .range([0, width-border])
    .domain(d3.extent(data, function(d) { return d.x; }));

var y = d3.scale.linear()
    .range([height-border, 0])
    .domain(d3.extent(data, function(d) { return d.y; }));

// define mappings

domain_x = [0, d3.max(JSONhist['x'], function(d) { return (d.x); }) - d3.min(JSONhist['x'], function(d) { return (d.x); })]

var width_mapping_x = d3.scale.linear()
    .range([0, 500])
    .domain(domain_x);


domain_y = [0, d3.max(JSONhist['y'], function(d) { return (d.x); }) - d3.min(JSONhist['y'], function(d) { return (d.x); })]

var width_mapping_y = d3.scale.linear()
    .range([0, 500])
    .domain(domain_y);



var y_hist = d3.scale.linear()
    .domain([0, d3.max(JSONhist['x'], function(d) { return (d.y); })])
    .range([0, height_hist]);

var y_histy = d3.scale.linear()
    .domain([0, d3.max(JSONhist['y'], function(d) { return (d.y); })])
    .range([height_hist, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var diffusion = d3.select("#plot").append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", 'scatter_plot')
    .append("g")
    .attr("transform", "translate(" + margin + "," + margin + ")");

// define axis
diffusion.append("g")
  .attr("class", "x axis noticklabel")
  .attr("transform", "translate(0," + (height-border)+ ")")
  .call(xAxis)

  
diffusion.append("g")
  .attr("class", "y axis")
  .call(yAxis)
  .attr("transform", "translate(" + 0+ ",0)")
.append("text")
  .attr("class", "label")
  .attr("transform", "rotate(-90)")
  .attr("y", 6)
  .attr("x", (-height+border + 40))
  .attr("dy", ".71em")
  .style("text-anchor", "end")
  .text("y position")



diffusion.append("g")
  .attr("class", "x axis correctx")
  .call(xAxis)
.append("text")
  .attr("class", "label")
  .attr("x", (width-border-10))
  .attr("y", 10)
  .style("text-anchor", "end")
  .text("x position")


diffusion.append("g")
  .attr("class", "y axis correcty noticklabel")
  .attr("transform", "translate(" + (width-border) + ",0)")
  .call(yAxis)


diffusion.selectAll("g correctx .tick text")
  .attr("transform", "translate(0,-6)")

diffusion.selectAll(".correctx .tick line")
  .attr("transform", "translate(0,-6)")

diffusion.selectAll(".correctx .tick text")
  .attr("transform", "translate(0,-26)")

diffusion.selectAll(".correcty .tick line")
  .attr("transform", "translate(6 ,0)")




function update(data,i) {
    diffusion.selectAll(".dot").remove()
    diffusion.selectAll(".dot")
      .data(data)
      .enter().append("circle")
      .filter(function(d) { return d.t == i})
      .attr("class", "dot")
      .attr("r", 3.5)
      .attr("cx", function(d) { return x(d.x); })
      .attr("cy", function(d) { return y(d.y); })
}

function animate () { 
     setTimeout(function () {     
        if (i < time) {
           update(data, i);
           draw_hist(x, y,i);
           animate();
        }
        i++;           
     }, 500
     )
}
                  
animate()


function draw_hist (values_hist, values_histy,i) { 

    diffusion.selectAll(".bar").remove()
    diffusion.selectAll(".bar_histy").remove()
    // A formatter for counts.
    var bar_hist = diffusion.selectAll(".bar")
    .data(JSONhist['x'])
    .enter().append("g")
    .attr("class", "bar")
    .filter(function(d) { return d.t == i})
    .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y_hist(d.y) + ")"; });

    var bar_histy = diffusion.selectAll(".bar_histy")
    .data(JSONhist['y'])
    .enter().append("g")
    .attr("class", "bar_histy")
    .filter(function(d) { return d.t == i})
    .attr("transform", function(d) { return "translate(" + y_histy(d.y) + "," + y(d.x+d.dx) + ")"; });

    bar_hist.append("rect")
        .attr("x", 0)
        .attr("y", function(d) { return height_hist - y_hist(d.y) +270; })
        .attr("width", width_mapping_x(JSONhist['x'][0].dx)  )
        .attr("height", function(d) { return y_hist(d.y*2); });

    bar_histy.append("rect")
        .attr("x",  function(d) { return 470 - y_histy(d.y); })
        .attr("y", 0)
        .attr("width", function(d) { return height_hist - y_histy(d.y*2); })
        .attr("height", width_mapping_x(JSONhist['x'][0].dx) );
}
}




</script>



